$icon-1color: "\e912";
$icon-logo-path1: "\e901";
$icon-logo-path2: "\e902";
$icon-logo-path3: "\e903";
$icon-logo-path4: "\e904";
$icon-logo-path5: "\e905";
$icon-logo-path6: "\e906";
$icon-logo-path7: "\e907";
$icon-logo-path8: "\e908";
$icon-logo-path9: "\e909";
$icon-logo-path10: "\e90a";
$icon-logo-path11: "\e90b";
$icon-logo-path12: "\e90c";
$icon-logo-path13: "\e90d";
$icon-logo-path14: "\e90e";
$icon-logo-path15: "\e90f";
$icon-logo-path16: "\e910";
$icon-logo-path17: "\e911";
$icon-sym: "\e900";
