/*-------------------------------*/
/* Header
/*-------------------------------*/

/* Header
/*-------------------------------*/

	header.banner{
		border-top: $site-border-top;
        margin: 0;

		.container-fluid{
			padding-left: 0;
			padding-right: 0;
		}
	}

/* Nav Bar
/*-------------------------------*/

	.navbar-clear{
		background: none;
		border: none;
		margin: 0;
        padding: 1em;
        // border-bottom: 1px solid rgba(#ddd, .5);
        border-radius: 0;
	}

/* Logo
/*-------------------------------*/

    a.navbar-brand{
    	position: relative;
    	padding: 0 .5em;

    	i{
    		font-size: 5em;
    		color: $logo-color;
            transition: color 0.3s ease;

    		&:hover{
    			color: #d3d3d3;
    		}

            @media (max-width: $screen-sm-max) {
                font-size: 3.5em;
            }
    	}
    	
    	span{
    		visibility: hidden;
    		float: left;
    		display: none;
    	}
    }