/*-------------------------------*/
/* Header
/*-------------------------------*/

/* Header
/*-------------------------------*/

	header.banner{
		border-top: $site-border-top;
		padding: 1em 0;
	}

/* Logo
/*-------------------------------*/

    a.navbar-brand{
    	position: relative;
    	padding: 0 .5em;

    	i{
    		font-size: 2.85em;
    		color: $logo-color;
            transition: color 0.3s ease;

    		&:hover{
    			color: $logo-color-hover;
    		}
    	}
    	
    	span{
    		visibility: hidden;
    		float: left;
    		display: none;
    	}
    }