/*-------------------------------*/
/* Header
/*-------------------------------*/

/* Header
/*-------------------------------*/

	header.banner{
		border-top: $site-border-top;
		padding: 1em 0;

		.container-fluid{
			padding-left: 0;
			padding-right: 0;
		}
	}

/* Nav Bar
/*-------------------------------*/

	.navbar-clear{
		background: none;
		border: none;
		margin: 0;
	}

/* Logo
/*-------------------------------*/

    a.navbar-brand{
    	position: relative;
    	padding: 0 .5em;

    	i{
    		font-size: 3em;
    		color: $logo-color;
            transition: color 0.3s ease;

    		&:hover{
    			color: $logo-color-hover;
    		}
    	}
    	
    	span{
    		visibility: hidden;
    		float: left;
    		display: none;
    	}
    }